/**************************************************************************************
*
*                   Global Template
*
***************************************************************************************/


html,body{
    height:100%;
    min-width:300px;
    font-family: sans-serif;
}
button{
    color:$charcoal;
    height:50px;
    padding:0;
    margin:0;
    box-sizing:border-box;
    background-color:$charcoal;
    color:$ivory;
    cursor:pointer;
    border:none;
    &:hover{
        background-color: $charcoal / 1.25;
        box-shadow: 0 0 5px $charcoal;
        color:$highlight;
        text-shadow:0 0 1px $highlight;
    }
}
input, textarea{
    padding:10px;
    background-color: #fff;
}
.login-box, .module-container{
    @extend %a-100;
    @extend %a-p-20;
    input, textarea{
        @extend %a-100;
        @extend %t-75;
        @extend %d-75;

        @extend %t-null-cent;

        margin-bottom:10px;
        border:solid 1px ;
        color:$charcoal / 2;
        min-height:50px;

        &:hover{
            border:solid 1px #454545;
        }
        &:focus{
            border:solid 1px $highlight;
        }

    }
    >button{
        @extend %a-45;

    }
}
.login-box{
    button{
        @extend %a-null-cent;
    }
}
.navigation-container{
    @extend %a-100;
    box-shadow: 0 0 5px #000000;
    div{

        @extend %a-40;
        @extend %t-20;
        background-color: $charcoal;
        height: 50px;
        cursor:pointer;

        &:hover{
            background-color: $charcoal * 1.25;
        }

        p{
            @extend %a-95;
            @extend %a-cent-cent;
            
            text-align:center;
            color: $ivory;

        }
    }
    .nav-avatar-container{
        @extend %a-20;
        height:100px;
        .nav-avatar{
            @extend %a-p-10;
            @extend %a-cent-cent;
            width:50px;
            height:50px;
            border-radius: 50%;
            box-shadow: 0 0 5px black;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    .active{
        background-color: $highlight;
        box-shadow:inset 0 0 5px $charcoal;
        &:hover{
            background-color: $highlight / 1.25;
        }
    }
}
.message-list-container{
    @extend %a-100;
    padding:0;
    padding-top:10px;
    .message-list-controls-container{
        @extend %a-100;
        @extend %a-null-cent;

        button{
            @extend %a-30;
            margin-left:10px;
            margin-bottom:10px;
            border:none;
        }
        .delete-multiple-messages-button{
            @extend %a-100;
            margin:0;
            display:none;
        }
    }
    .message-list-heading{
        @extend %a-100;
        @extend %t-90;
        @extend %d-75;

        @extend %a-null-cent;
        height:50px;
        line-height: 50px;
        background-color: $charcoal;
        color:$ivory;
        font-size:.7em;
        .message-list-heading-checkbox{
            @extend %a-cent-null;
            @extend %a-fl-L;
            width:1.3em;
            margin-left:10px;
            background:black;
            border-radius: 0;
            // display:none;
        }
        .message-list-size{
            @extend %a-15;

            text-align:center;
            cursor:pointer;
            &:hover{
                color:#efefef;
            }
        }
        .message-list-username{
            @extend %a-25;
            text-align:center;
            cursor:pointer;
            &:hover{
                color:#efefef;
            }
        }
        .message-list-fingerprint{
            @extend %a-25;

            text-align:center;
            cursor:pointer;
            &:hover{
                color:#efefef;
            }
        }
        .message-list-timestamp{
            @extend %a-25;
            text-align: center;
            cursor:pointer;
            &:hover{
                color:#efefef;
            }
        }
    }
    .message-list{
        @extend %a-100;
        @extend %t-90;
        @extend %d-75;

        @extend %a-null-cent;
        font-size:.7em;
        .message{
            @extend %a-100;
            @extend %a-null-cent;
            height:50px;
            line-height:50px;
            border-bottom:solid 1px $ivory;
            &:hover{
                background-color: $highlight;
            }

            .message-checkbox{
                @extend %a-cent-null;
                @extend %a-fl-L;
                width:1.3em;
                margin-left:10px;
                border-radius: 0;
            }
            .message-size{
                @extend %a-15;
                text-align:center;
                cursor:pointer;
            }
            .message-username{
                @extend %a-25;
                text-align:center;
                cursor:pointer;
            }
            .message-fingerprint{
                @extend %a-25;
                text-align:center;
                cursor:pointer;
            }
            .message-timestamp{
                @extend %a-25;
                text-align: center;
                cursor:pointer;
            }
            .message-delete-button{
                // @extend %a-15;
                // @extend %a-cent-null;
                // height:30px;
            }
        }
    }
    .message-list-page-container{
        @extend %a-100;
        margin-top:20px;
        .page-controls{
            @extend %a-95;
            @extend %a-null-cent;
            button{
                @extend %a-20;
                float:right;
                @extend %a-top-right;
                margin:0;
            }
            .prev{
                // display:none;
            }
            .next{

            }
        }
    }
}
.send-message-box{
    textarea{
        min-height:250px;
    }
    .send-message-button, .add-files-button, .discard-message-button{
        @extend %a-33;
    }
    .image-stage{
        @extend %images-container-module;
    }
    .file-stage{
        @extend %files-container-module;
    }
}
.contact-list-container{
    @extend %a-100;
    padding:0;
    padding-top:20px;
    .contact-list-controls{
        @extend %a-100;
        @extend %t-90;
        @extend %d-75;
        @extend %a-null-cent;

        input{
            @extend %a-75;
            margin-left:5px;
            margin-right:5px;
        }
        button{
            @extend %a-20;
        }
        .delete-multiple-contact-button{
            @extend %a-100;
            margin:0;
            margin-bottom:5px;
            display:none;
        }
    }
    .contact-list-heading{
        @extend %a-100;
        @extend %t-90;
        @extend %d-75;
        @extend %a-null-cent;
        height: 50px;
        line-height:50px;
        font-size:.7em;
        text-align:center;
        background-color: $charcoal;
        cursor:pointer;
        .contact-list-heading-checkbox{
            @extend %a-cent-null;
            @extend %a-fl-L;
            width:1.3em;
            margin-left:10px;;
        }
        .contact-list-heading-username{
            @extend %a-90;
            color:#cdcdcd;
        }
    }
    .contact-list{
        @extend %a-100;
        @extend %t-90;
        @extend %d-75;
        @extend %a-null-cent;
        font-size:.7em;
        .contact{
            @extend %a-100;
            height:50px;
            line-height:50px;
            text-align: center;
            cursor:pointer;
            border-bottom:solid 1px $ivory;
            &:hover{
                background-color: $highlight;
            }
            
            .contact-checkbox{
                @extend %a-cent-null;
                @extend %a-fl-L;
                width:1.3em;
                margin-left:10px;
            }
            .contact-username{
                @extend %a-90;
            }
            .contact-delete-button{
                // @extend %a-20;
                // height:30px;
            }
        }
    }
}
.view-message-container{
    @extend %a-100;

    padding:0;
    padding-top:20px;
    font-size:.7em;
    .view-message-controls{
        @extend %a-100;
        @extend %d-75;
        @extend %a-null-cent;
        margin-bottom:20px;
        button{
            @extend %a-30;
            margin-left:5px;
            margin-right:5px;
            border:none;
        }
    }
    .view-message-sender{
        @extend %a-90;
        @extend %t-90;
        @extend %d-60;
        @extend %a-null-cent;
        @extend %a-p-10;
        border-bottom:solid 1px $ivory;
    }
    .view-message-timestamp{
        @extend %a-90;
        @extend %t-90;
        @extend %d-60;
        @extend %a-null-cent;
        @extend %a-p-10;
        border-bottom:solid 1px $ivory;
    }
    .view-message-size{
        @extend %a-90;
        @extend %t-90;
        @extend %d-60;
        @extend %a-null-cent;
        @extend %a-p-10;
        border-bottom:solid 1px $ivory;
    }
    .view-message-message{
        @extend %a-90;
        @extend %t-90;
        @extend %d-60;
        @extend %a-null-cent;
        margin-bottom:50px;
        
        .image-file-list{
            display:none;
        }
        .view-message-images-container{
            @extend %images-container-module;
        }
        .file-file-list{
            display:none;
        }
        .view-message-files-container{
            @extend %files-container-module;
        }
    }
}
.settings-container{
    .avatar-container{
        @extend %a-200-f;
        @extend %a-null-cent;
        height:200px;
        cursor:pointer;
        .avatar{
            @extend %a-100;
            height:100%;
            border-radius: 50%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            box-shadow: 0 0 5px;
            &:hover p{
                display:block;
            }
            p{
                @extend %a-cent-null;
                color:#dedede;
                display:none;
                text-align:center;
                text-shadow:0 0 3px black;
                font-weight: bolder;
            }
        }
    }
    .settings-username{
        @extend %a-100;
        text-align:center;
    }
    h2{
        @extend %a-95;
        @extend %a-null-cent;
        text-align:center;
    }
    .settings-changepw-button{
        @extend %a-null-cent;
        margin-bottom:50px;
    }
    .settings-download-creds{
        @extend %a-null-cent;
        margin-bottom:50px;
    }
    .settings-download-messages{
        @extend %a-null-cent;
        margin-bottom:50px;
    }
    .mPerPage{
        @extend %a-100-f;
        @extend %a-null-cent;
    }
}
.error-container{
    @extend %a-100;
    @extend %a-bot-cent;
    background-color: #232323;
    color:#dedede;
    box-shadow: 0 0 5px #232323;
    position:fixed;
    cursor:pointer;
    z-index:3;
    .error-close{
        @extend %a-100;
        @extend %a-p-10;
        text-align: right;
        &:hover{
            color:#a0a;
        }
    }
    .error-message{
        @extend %a-75;
        @extend %a-null-cent;
        @extend %a-p-20;
        text-align: center;
    }
}


