/**************************************************************************************
*
*                   Global Template
*
***************************************************************************************/
html,body{
    height:100%;
}

.login-box, .module-container{
    @extend %a-100;
    @extend %t-75;
    @extend %d-66;

    @extend %a-top-cent;
    @extend %t-cent-cent;

    @extend %a-p-20;

    background-color:rgb(247, 247, 247);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color:rgb(64, 64, 64);
    box-shadow:rgba(0, 0, 0, 0.298039) 0px 2px 2px 0px;

    .loginerror{
        @extend %a-100;

        margin-bottom:10px;
        text-align:center;
    }

    input, textarea{
        @extend %a-100;
        @extend %t-75;
        @extend %d-75;

        // @extend %a-p-5;
        @extend %t-null-cent;

        // margin-left:1.66665%;
        // margin-right:1.66665%;
        margin-bottom:10px;
        border-radius: 10px;
        border-top: solid 1px rgb(192, 192, 192);
        border-left:solid 1px rgb(217, 217, 217);
        border-right:solid 1px rgb(217, 217, 217);
        border-bottom:solid 1px rgb(217, 217, 217);
        color:rgb(64, 64, 64);
        text-align:center;
        min-height:50px;

        &:hover{
            border:solid 1px rgb(192,192,192);
            border-top:solid 1px rgb(150,150,150);
        }
        &:focus{
            border:solid 1px rgb(48, 121, 237);
        }

    }
    button{
        @extend %a-50;
        // @extend %t-30;

        @extend %a-null-cent;
        // @extend %d-null-null;

        @extend %a-p-5;

        margin-left:1.66665%;
        margin-right:1.66665%;
        border-radius: 3px;
        border:solid 1px rgb(48, 121, 237);
        text-shadow: 0 1px rgba(0,0,0,0.1);
        background:rgb(77, 144, 254);
        color:white;
        height:50px;

    }
}
.message-list-container{
    .message-in-list{

        cursor: pointer;


        div{
            @extend %a-p-10;

            margin-bottom:10px;
            text-align:center;


            &:nth-child(1)
            {
                @extend %a-45;

            }
            &:nth-child(2)
            {
                @extend %a-45;

            }
            &:nth-child(3)
            {
                @extend %a-10;
                
            }
        }
        &:hover div{
            background-color: #0aa;
        }
    }
}
.contact-list-container{
    .add-contact-input{
        @extend %a-70;

        @extend %a-null-null;
    }
    .add-contact-button, button{
        @extend %a-25;

        @extend %a-null-null;
    }

    .contact{
        cursor: pointer;

        div{
            &:nth-child(1)
            {
                @extend %a-80;
            }
            &:nth-child(2)
            {
                @extend %a-20;
            }

            @extend %a-p-10;

            margin-bottom:10px;
            text-align:center;
        }
        &:hover div{
            background-color: #a0a;
        }
    }
}