%images-container-module{
    @extend %a-100;
    @extend %a-null-cent;
    .img-container{
        @extend %a-115-f;
        @extend %t-200-f;
        @extend %d-225-f;
        @extend %a-p-5;
        @extend %ml-p-10;
        @extend %t-p-15;
        @extend %d-p-5;
        height:115px;
        
        .img{
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            width:100%;
            height:100%;
            box-shadow: 0 0 5px #232323;

            &:hover div{
                display:block;
            }
            div{
                display:none;
                height:100%;
                width:100%;
                background-color: rgba(0,0,0,.5);
                cursor:pointer;
                
                p{
                    @extend %a-95;
                    @extend %a-cent-cent;
                    color:white;
                    font-weight: bold;
                    font-size:1.5em;
                    text-align:center;
                }
            }
        }
    }
}
%files-container-module{
    @extend %a-100;
    @extend %a-null-cent;
    .fl-container{
        @extend %a-115-f;
        @extend %t-200-f;
        @extend %d-225-f;
        @extend %a-p-5;
        @extend %ml-p-10;
        @extend %t-p-15;
        @extend %d-p-5;
        height:115px;
        a{
            @extend %a-100;
            height:100%;
            text-decoration: none;
            box-shadow: 0 0 5px #232323;

            &:hover p:nth-child(1){
                display:none;
            }
            &:hover p:nth-child(2){
                display:block;
            }
            p{
                &:nth-child(2){
                    display:none;
                }
                @extend %a-95;
                @extend %a-cent-cent;
                @extend %a-p-5;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap:break-word;
                color:black;
                text-align:center;
            }
        }
    }
}
%ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}